/**
    General
**/
html, body {
    height:100%;
}

body {
    margin: 0;
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

/**
    Header
**/

header {
    background-image: url("../img/background-header.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 730px;
}


div.header-txt-wrap {
    text-align: center;
}

div.header-txt-wrap>h1 {
    padding-top: 100px;
    margin: 0;
    font-family: roboto-regular;
    font-size: 80px;
}

/* div.header-txt-wrap>span::after {
    content: url('../img/after_header.png');
    display: block;
    text-align: center;
} */

div.header-txt-wrap>p {
    margin: 0;
    font-family: roboto-light;
    font-size: 24px;
    padding: 0 35vw 50px 35vw;
}

div.header-txt-wrap>p::before {
    padding-bottom: 30px;
    content: url('../img/after_header.png');
    display: block;
    text-align: center;
}

/* Menu */

nav.topnav {
    padding: 30px 20% 0px 20%;
    overflow: hidden;
    
}

.topnav a {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-family: roboto-regular;
    font-size: 17px;
}

.topnav a:hover {
    color: #cb1237;
}

nav.topnav .icon, span.nav-social {
    display: none;
    font-size: 25px;
    color: black;
}

div.regular-menu {
    position: relative;
    top: -34px;
}

p.header-mobile-p {
    display: none;
}

/**
    Services section
**/

section#services {
    background-color: #FBFBFB;
    display: grid;
    overflow: auto;
}

section#services>article.development {
    grid-column: 1;
    grid-row: 1;
}

section#services>article.design {
    grid-column: 2;
    grid-row: 1;
}

section#services>article.team {
    grid-column: 3;
    grid-row: 1;
}

article.service {
    padding: 40px 40px;
    text-align: center;
}

article.service:hover {
    background-color: #EDEDED;
    transition-duration: 0.4s;
}

article.service>h4 {
    font-family: roboto-bold;
    letter-spacing: 3px;
}

article.service>h4::after {
    padding-top: 20px;
    content: url('../img/after_services.png');
    display: block;
    text-align: center;
}

article.service>p {
    font-family: roboto-light;
    font-size: 16px;
}

div#development-sprite,
div#design-sprite,
div#team-sprite {
    margin: 0 auto;
    background-image: url('../img/sprite_services.png');
    background-repeat: no-repeat;
}

div#development-sprite {
    height: 100px;
    width: 125px;
    background-position: 0px 0px;
}
div#design-sprite {
    height: 100px;
    width: 125px;
    background-position: -110px 0px;
}
div#team-sprite {
    height: 100px;
    width: 125px;
    background-position: -225px 0px;
}

/**
    Jobs section
**/

section#jobs {
    overflow: auto;
}

section#jobs>article.job {
    padding: 60px 25vw;
}

section#jobs>article:first-child {
    padding: 60px 25vw;
    text-align: center;
}

section#jobs>article:nth-child(3) {
    padding: 60px 25vw;
    background-color: #222222;
    color: #fff;
}

section#jobs>article>h2 {
    font-family: roboto-regular;
    font-size: 50px;
}

section#jobs>article>h2::before {
    content: "OTVORENE POZICIJE";
    display: block;
    text-align: center;
    color: #999999;
    letter-spacing: 2px;
    font-family: roboto-light;
    font-size: 13px;
    padding-bottom: 30px;
}

section#jobs>article>h2::after {
    content: url('../img/after_header.png');
    display: block;
    text-align: center;
}

section#jobs>article>p {
    font-family: roboto-light;
    font-size: 24px;
}

section#jobs>article.job>p {
    display: inline-block;
    font-family: roboto-light;
    font-size: 14px;
    width: 32vw;
    margin: 0;
    padding-bottom: 30px;
}

section#jobs>article.job>h3 {
    display: inline-block;
    font-family: roboto-regular;
    font-size: 20px;
    width: 32vw;
    margin: 0;
    padding-bottom: 30px;
}

section#jobs>article.job>button {
    float: right;
    font-family: roboto-light;
    font-size: 12px;
    padding: 12px 35px;
    background-color: #fff;
    border: 2px solid black;
    letter-spacing: 2px;
    outline: none;
}

section#jobs>article.job>button:hover {
    transition-duration: 0.6s;
    background-color: black;
    color: #fff;
}

section#jobs>article:nth-child(3)>button {
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
}

section#jobs>article:nth-child(3)>button:hover {
    transition-duration: 0.6s;
    background-color: #fff;
    color: black;
}

div.tag-wrap {
    display: flex;
}

div.tag {
    text-align: center;
    width: 80px;
    display: inline-block;
    padding: 8px;
    margin-right: 5px;
    font-family: roboto-light;
    font-size: 13px;
    color: #D30A0A;
    border: 1px solid #999999;
    border-radius: 2px;
}

div.tag:hover {
    background-color: black;
    color: #fff;
}

div.btn-load-wrap {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

button.btn-load {
    padding: 16px;
    border: none;
    background-color: #EDEDED;
    font-size: 12px;
    letter-spacing: 2px;
    border: 2px solid transparent;
    outline: none;
}

button.btn-load:hover {
    transition-duration: 0.6s;
    background-color: #fff;
    border: 2px solid black;
    color: black;
}

/**
    About section
**/

section#about {
    overflow: auto;
}

section#about h2 {
    text-align: center;
    font-family: roboto-regular;
    font-size: 50px;
}

section#about h2::before {
    content: "DIWANEE BEOGRAD";
    display: block;
    text-align: center;
    color: #999999;
    letter-spacing: 2px;
    font-family: roboto-light;
    font-size: 13px;
    padding: 100px 0 30px 0;
}

section#about h2::after {
    content: url('../img/after_header.png');
    display: block;
    text-align: center;
}

section#about p {
    text-align: left;
    padding: 0 25vw;
    font-family: roboto-light;
    font-size: 18px;
}

/**
    Social section
**/


section#social {
    overflow: auto;
}

div.icons-wrap {
    display: flex;
    justify-content: center;
}

div.social-before::before {
    content: "PRATITE NAS";
    display: block;
    text-align: center;
    color: #999999;
    letter-spacing: 2px;
    font-family: roboto-light;
    font-size: 13px;
    padding-top: 200px;
    padding-bottom: 20px;
}

div#twitter-sprite,
div#facebook-sprite {
    padding-bottom: 80px;
    background-image: url('../img/sprite_social.png');
    background-repeat: no-repeat;
}

div#twitter-sprite {
    height: 75px;
    width: 75px;
    background-position: 0px 0px;
}

div#facebook-sprite {
    height: 75px;
    width: 75px;
    background-position: -75px 0px;
}

/**
    Social section
**/

footer {
    overflow: auto;
    background-color: #222222;
    color: #5F5F5F;
}

.footer-grid {
    padding: 100px 20% 0 20%;
    display: grid;
    grid-auto-rows: minmax(350px, 200px);
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
}

.three {
    justify-self: right;
    grid-column: 3;
    grid-row: 1;
}
footer h5 { 
    display: inline-block;
    font-family: roboto-regular;
    font-size: 16px;
    color: #fff;
}

footer p { 
    font-family: roboto-light;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

footer i.fa-map-marker {
    padding: 10px;
    font-size: 35px;
    color: #c41230;
}

footer i.fa-twitter, i.fa-linkedin {
    font-size: 25px;
    padding: 0 10px;
}

div.bottom-footer {
    display: grid;
grid-column-end: span 3;
    background-color: #1E1E1E;
    padding: 0 20%;
}

div.bottom-footer p {
    float: right;
    font-size: 14px;
    grid-column: 1;
    grid-row: 1;
}

div.bottom-footer div {
    padding-left: 5px;
    font-size: 14px;
    grid-column: 2;
    grid-row: 1;
}

div.bottom-footer {
    margin: 0 auto;
}

div.social-bottom-footer {
    display: none;
}

p.p-bottom-footer {
    display: block;
}

/**
    Tablet Query
**/

@media screen and (max-width: 1024px) {
    header {
        height: 630px;
    }

    nav.topnav {
        position: absolute;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    img.logo {
        padding: 25px 25px 7px 25px;
    }

    .topnav a,
    span.nav-social {
        display: none;
    }

    .topnav a.icon {
        display: block;
        position: relative;
        top: -64px;
    }

    .topnav a:not(:last-child) {
        padding: 25px;
    }

    .topnav a:first-child {
        padding: 50px 0 50px 0;
    }

    .topnav a {
        padding: 50px;
    }

    div.main-nav-wrap {
        background-color: #222222;
        opacity: 0.97;
        color: #CCCCCC;
        width: 100%;
    }

    .topnav.responsive {
        position: absolute;
        width: 100%;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: 6px;
        right: 0;
    }

    .topnav.responsive a {
        font-family: roboto-light;
        text-align: center;
        float: none;
        display: block;
    }

    .topnav.responsive span.nav-social {
        color: #CCCCCC;
        font-size: 12px;
        font-family: roboto-regular;
        display: block;
        padding: 25px 0 10px 25px;
        letter-spacing: 6px;
    }

    .topnav.responsive div.main-nav-wrap {
        height: 560px;
    }

    span.nav-social>i {
        font-size: 22px;
        position: absolute;
        right: 25px;
        bottom: 25px;
    }

    span.nav-social>i:last-child {
        position: absolute;
        right: 60px;
        bottom: 25px;
    }

    div.regular-menu {
        position: inherit;
    }

    div.header-txt-wrap>h1 {
        padding-top: 150px;
    }

    div.header-txt-wrap>p {
        padding: 0 25vw 50px 25vw;
        margin: 0;
    }
    .topnav a {
        font-size: 25px;
    }
}

/**
    Mobile Query
**/

@media screen and (max-width: 650px) {
    header {
        height: 530px;
    }

    .topnav.responsive div.main-nav-wrap {
        height: 461px;
    }

    div.header-txt-wrap>h1 {
        padding: 150px 20px 0 20px;
    }

    div.header-txt-wrap>p {
        display: none;
    }

    p.header-mobile-p {
        display: block !important;
        padding: 0 0 50px 0 !important;
    }

    section#services>article.design {
        grid-column: 1;
        grid-row: 2;
    }

    section#services>article.team {
        grid-column: 1;
        grid-row: 3;
    }

    section#jobs>article:first-child {
        padding: 60px 15vw;
    }

    section#jobs>article.job>button {
        display: none;
    }

    div.tag {
        width: 50px;
        font-size: 16px;
        border: 0px;
        padding: 0px;
        margin-right: 8px;
    }

    div.tag:hover {
        color:black;
        background: transparent;
    }

    div.tag-hide {
        display: none;
    }

    div.tag-big {
        margin-left: 17px;
    }

    section#jobs>article.job p, h3  {
        width: 100% !important;
    }

    section#jobs>article.job {
        background: #EDEDED;
    }

    section#about {
        background: #FBFBFB;
    }

    section#jobs>article:nth-child(3) {
        background-color: #fff;
        color: black;
    }

    section#about h2::before {
        padding: 0 0 30px 0;
        font-size: 19px;
    }

    section#about h2 {
        padding: 0 5vw;
    }

    section#about p {
        padding: 0px 18vw;
    }

    div.social-before::before {
        font-size: 19px;
        padding: 50px 0 20px 0;
    }

    .footer-grid {
        padding: 80px 0% 80px 6%;
        display: grid;
        grid-auto-rows: minmax(180px, 200px);
    }

    .one {
        justify-self: left;
    }

    .two {
        justify-self: left;
        grid-column: 1;
        grid-row: 2;
    }

    .three {
        justify-self: left;
        grid-column: 1;
        grid-row: 3;
    }

    div.social-bottom-footer {
        display: block;
    }

    div.social-bottom-footer span {
        float: right;
        padding: 10px 40px 0px 0px;
    }

    footer i.fa-twitter,
    i.fa-linkedin {
        font-size: 35px;
        padding: 0px 0px 30px 40px;
    }
    
    div.bottom-footer div {
        display: none;
    }

    p.p-bottom-footer {
        display: block;
    }

    div.bottom-footer p:nth-child(2) {
        display: none;
    }

}

/*
    Custom breakpoints 
*/

@media screen and (max-width: 985px) { }