/**
    General
**/

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    margin: 0;
}

/**
    Header
**/

header {
    background-image: url("../img/background_header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto;
}


div.header-txt-wrap {
    text-align: center;
}

div.header-txt-wrap>h1 {
    font-family: roboto-regular;
    font-size: 80px;
}

div.header-txt-wrap>h1::after {
    content: url('../img/after_header.png');
    display: block;
    text-align: center;
}

div.header-txt-wrap>p {
    font-family: roboto-light;
    font-size: 24px;

}

/* Menu */

nav.topnav {
    padding: 30px 15% 0px 15%;
    overflow: hidden;
    
}

.topnav a {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-family: roboto-regular;
    font-size: 17px;
}

.topnav a:hover {
    color: #fff;
}

nav.topnav .icon, span.nav-social {
    display: none;
    font-size: 25px;
    color: black;
}

div.regular-menu {
    position: absolute;
    top: 30px;
    right: 5%;
}


@media screen and (max-width: 800px) {
    nav.topnav {
        padding: 0;
        overflow: hidden;
    }

    img.logo {
        padding: 25px 25px 7px 25px;
    }

    .topnav a, span.nav-social {
        display: none;
    }

    .topnav a.icon {
        position: absolute;
        display: block;
        top: 6px;
        right: 1%;
    }

    .topnav a:not(:last-child) {
        padding: 25px;
    }

    .topnav a:first-child {
        padding: 50px 0 25px 0;
    }

    div.main-nav-wrap {
        background-color: #222222;
        opacity: 0.97;
        color: #CCCCCC;
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: 6px;
        right: 1%;
    }

    .topnav.responsive a {
        font-family: roboto-light;
        text-align: center;
        float: none;
        display: block; 
    }
    
    .topnav.responsive span.nav-social {
        color: #CCCCCC;
        font-size: 12px;
        font-family: roboto-regular;
        display: block;
        padding: 25px 0 10px 25px; 
        letter-spacing: 6px;
    }
    span.nav-social>i {
        font-size: 22px;
        position: absolute;
        right: 25px;
        bottom: 25px;
    }
    span.nav-social>i:last-child {
        position: absolute;
        right: 60px;
        bottom: 25px;
    }
    div.regular-menu {
        position: inherit;
    }
}

/**
    Services section
**/

section#services {
    background-color: #FBFBFB;
    overflow: auto;
}
article.service {
    width: 30%;
    padding: 40px 10px;
    float: right;
    text-align: center;
}

article.service:hover {
    background-color: #EDEDED;
    transition-duration: 0.4s;
}

article.service>h4 {
    font-family: roboto-bold;
    letter-spacing: 3px;
}

article.service>h4::after {
    padding-top: 20px;
    content: url('../img/after_services.png');
    display: block;
    text-align: center;
}

article.service>p {
    font-family: roboto-light;
    font-size: 16px;
}

div#development-sprite,
div#design-sprite,
div#team-sprite {
    margin: 0 auto;
    background-image: url('../img/sprite_services.png');
    background-repeat: no-repeat;
}

div#development-sprite {
    height: 100px;
    width: 125px;
    background-position: 0px 0px;
}
div#design-sprite {
    height: 100px;
    width: 125px;
    background-position: -110px 0px;
}
div#team-sprite {
    height: 100px;
    width: 125px;
    background-position: -225px 0px;
}

/**
    Jobs section
**/

section#jobs {
    overflow: auto;
}

section#jobs>article.job {
    padding: 60px;
}

section#jobs>article:first-child {
    padding: 60px;
    text-align: center;
}

section#jobs>article:nth-child(3) {
    padding: 60px;
    background-color: #222222;
    color: #fff;
}


section#jobs>article>h2 {
    font-family: roboto-regular;
    font-size: 50px;
}

section#jobs>article>h2::before {
    content: "OTVORENE POZICIJE";
    display: block;
    text-align: center;
    color: #999999;
    letter-spacing: 1px;
    font-family: roboto-regular;
    font-size: 14px;
    padding-bottom: 30px;
}

section#jobs>article>h2::after {
    content: url('../img/after_header.png');
    display: block;
    text-align: center;
}

section#jobs>article>p {
    font-family: roboto-light;
    font-size: 24px;
}

section#jobs>article.job>p {
    font-family: roboto-light;
    font-size: 14px;
}

section#jobs>article.job>button {
    display: inline-flex;
    float: right;
}

section#jobs>article.job>div.tag {
    text-align: center;
    width: 80px;
    float: left;
    padding: 8px;
    margin: 5px;
    font-family: roboto-light;
    font-size: 13px;
    color: #D30A0A;
    border: 1px solid #999999;
    border-radius: 2px;
}